.wrapper {
  @apply h-full w-full;
  @apply p-4;
}

.numberField {
  @apply rounded border border-gray-300 w-20;
}

.label {
  @apply text-xs flex-initial px-1;
}

.field {
  @apply py-2;
}

.buttonSection {
  @apply py-2;
  @apply text-center;
  @apply space-x-2 space-y-2;
}

.legend {
  @apply text-sm font-sans font-medium text-gray-700;
}

.buttonSection > button:first-child {
  @apply bg-emerald-600 border-2 border-black text-white;
}

.buttonSection > button {
  @apply mx-4;
}
