.wrapper {
}

.heading {
}

.title {
  @apply mb-1;
  @apply border-b border-amber-500;
  @apply pb-1;
}

/* Primary name */
.title > span:first-of-type {
  @apply text-4xl;
  @apply font-light;
  @apply block;
}

/* Alternative names */
.title > span:not(:first-of-type) {
  @apply font-medium;
  @apply text-base;
  @apply ml-1;
  @apply px-1 py-0.5;
}

/* AKA part */
.title > span > span {
  @apply text-xs text-zinc-400;
  @apply uppercase;
}

.address,
.address > ul > li:first-of-type {
  @apply text-zinc-700;
  @apply font-medium;
  @apply text-base;
}

.address ul {
  @apply text-sm;
  @apply text-zinc-700;
}

/* conjunction */
.address li > span {
  @apply text-xs text-zinc-400 pr-1;
  @apply uppercase;
}

.topBar {
  @apply flex w-full;
}

.IDSection {
  @apply text-xs;
  @apply flex-grow;
}

.propertyID {
  @apply font-medium;
}

.bolded {
  @apply font-semibold;
}

.sectionWrapper {
  @apply relative;
  @apply pb-8;
}

.itemWrapper {
  @apply px-2;
  @apply py-2;
}

.infoTable {
  @apply table-auto;
  @apply w-full;
}

.infoTable tbody {
  @apply border-2 border-zinc-700;
}

.tocCta {
  @apply text-sm font-medium;
}

.infoTable tr:not(:last-child) {
  @apply border-b border-zinc-300;
}

.infoTable tr:nth-child(even) {
  @apply bg-zinc-50;
}

.fieldCell {
  @apply font-semibold;
  @apply p-1;
  @apply pr-3;
}

.valueCell {
  @apply p-1;
  @apply pl-1;
  @apply text-right;
}

.notApp {
  @apply italic text-gray-700;
}

.stringCell {
  @apply text-left;
}

tr:first-of-type > .valueCell {
  @apply border-t-0 !important;
}

.menuSection {
  @apply print:hidden;
  @apply flex space-x-3;
}

.mainFields {
  @apply py-2;
}

.mainFields > div {
  @apply my-0.5;
}

.reacTable {
  @apply ml-4;
}

.reacTable td {
  @apply border-none;
  @apply bg-none;
}

.reacTable td:first-of-type {
  @apply pr-1;
}

.wrapper h3 {
  @apply mt-4 mb-2;
  @apply font-semibold uppercase text-xs text-amber-500;
}

.wrapper h4 {
  @apply font-semibold;
  @apply text-gray-700;
  @apply text-lg;
  @apply mb-2 pb-0;
  @apply border-b-4 border-black;
}

.toc {
  @apply pl-4 pb-4;
  @apply text-xs font-medium;
}

.toc li {
  @apply hover:text-amber-500 text-amber-800;
  @apply py-0.5;
}

.topButton {
  @apply absolute top-0 right-2;
}

.menuSection button {
  @apply flex items-center;
  @apply space-x-1;
}

.menuSection svg {
  @apply inline;
}

.status {
  @apply flex items-center space-x-1;
  @apply text-sm uppercase font-semibold;
  @apply max-w-max;
}

.status svg {
  @apply inline-block;
}
