.wrapper {
  @apply overflow-y-auto w-full;
}

.innerWrapper {
  @apply container mx-auto max-w-3xl;
  @apply pb-24;
}

.wrapper h2 {
  @apply mt-8;
  @apply font-bold text-4xl;
}

.container > p {
  @apply my-4;
}

.terms {
  @apply font-mono;
  @apply border border-gray-300 bg-gray-50;
  @apply p-4;
  @apply mb-5;
}

.wrapper h3 {
  @apply font-bold text-2xl;
  @apply mt-0;
}

.terms > p,
.terms > ul {
  @apply my-4;
}

.terms li {
  @apply ml-4;
  @apply list-disc;
  @apply mb-4;
}

.wrapper h4 {
  @apply font-bold;
}

.formSection {
  @apply border-2 border-black;
  @apply p-4 pt-0;
}

.formSection label {
  @apply block mt-6 mb-1 font-medium;
}

.formSection input[type='checkbox'] {
  @apply w-5 h-5;
  @apply float-left;
  @apply mr-1;
}

.formSection input,
.formSection textarea,
.formSection select {
  @apply rounded-none focus:rounded-none;
  @apply focus:border-blue-500 focus:ring-blue-500 focus:ring-1;
  @apply border border-black;
  @apply outline-0;
  @apply w-full;
  @apply px-0.5;
}

.formSection input {
}

.formSection .error {
  @apply text-red-600 font-medium;
}

.formSection button {
  @apply border-2 border-black;
  @apply shadow-md;
}

.message {
  @apply border-black border shadow-xl;
  @apply my-20 p-8;
  @apply max-w-xl;
  @apply mx-auto;
  @apply text-center;
}

.message > p:first-of-type {
  @apply font-thin text-7xl;
  @apply mb-4;
}

.message > p:not(:first-of-type) {
  @apply text-xl;
  @apply mb-2;
}

.form button {
  @apply px-2 py-1;
  @apply disabled:shadow-none disabled:border-gray-500;
  @apply disabled:bg-gray-200 disabled:cursor-not-allowed;
}

.login {
  @apply my-20 p-8;
  @apply max-w-xl;
  @apply mx-auto;
  @apply text-center;
  @apply border-4 border-black shadow-2xl;
}

.login h2 {
  @apply text-4xl font-bold;
  @apply mb-4;
}

.login p {
  @apply my-2;
  @apply text-sm;
}

.login input {
  @apply border-2 border-black;
  @apply block;
  @apply mx-auto;
  @apply mb-2 py-1 px-2;
  @apply outline-0;
  @apply focus:border-blue-600 focus:ring-1 focus:ring-blue-600;
}
